@use "./base.scss";

.mermaid {
  font-family:
    "Noto Sans JP",
    "Hiragino Sans",
    "Yu Gothic",
    sans-serif !important;
}

svg[id^="mermaid"] {
  font-family:
    "Noto Sans JP",
    "Hiragino Sans",
    sans-serif !important;
}

.graph-container .node text {
  font-size: 9px;
}

.graph-container text {
  font-size: 9px;
  opacity: 0.8;
}