@use "./base.scss";

.mermaid {
  font-family:
    "Noto Sans JP",
    "Hiragino Sans",
    "Yu Gothic",
    sans-serif !important;
}

svg[id^="mermaid"] {
  font-family:
    "Noto Sans JP",
    "Hiragino Sans",
    sans-serif !important;
}

.graph-container .node text {
  font-size: 9px;
  pointer-events: none;
}

.graph-container text {
  opacity: 0.6;
}

.page::-webkit-scrollbar {
  width: 16px;
  border-radius: 8px;
  background: #408dc0
}

.page::-webkit-scrollbar-thumb {
  background: gray;
  border: 3px solid black;
  border-radius: 19px;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 16px;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 8px;
}